@font-face {
  font-family: 'Luam';
  src: local('Luam'), url(./assets/fonts/Luam-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Luam';
    font-weight: bold;
    src: local('Luam'), url(./assets/fonts/Luam-Bold.otf) format('opentype');
}

* {
  font-family: Luam, sans-serif;
  transition: 0.8s;
}

.app {
  text-align: center;
  background-image: linear-gradient(#d3c9b8, #debda5, #e4b69a);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #724120;
}

.palette {
  height: 90vh;
  width: 90vw;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.palette, .uploaded-image img {
  filter: drop-shadow(0px 15px 20px rgba(50, 88, 130, 0.2));
}

.uploaded-image img {
  border-radius: 10px;
}

.uploader {
  height: 10%;
  width: 10%;
  position: absolute;
  left: 42%;
  top: 50%;
  z-index: 2;
}

.uploaded-image {
  height: 40%;
  width: 30%;
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  z-index: 1;
}

.uploaded-image img {
  max-height: 100%;
  max-width: 100%;
}

.credit {
  font-weight: bolder;
  text-shadow: 1px 0;
  letter-spacing:1px;
  text-decoration: none;
  font-size: 1.5rem;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 2;
  color: inherit;
}

.color {
  height: 12vh;
  width: 12vh;
  max-height: 10vmax;
  max-width: 10vmax;
  min-height: 10vmin;
  min-width: 10vmin;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-1 {
  position: absolute;
  left: 46vw;
  top: 15vh;
}

.color-2 {
  position: absolute;
  left: 33vw;
  top: 13vh;
}

.color-3 {
  position: absolute;
  left: 24vw;
  top: 31vh;
}

.color-4 {
  position: absolute;
  left: 25vw;
  top: 53vh;
}

.color-5 {
  position: absolute;
  left: 35vw;
  top: 65vh;
}