.App {
  text-align: center;
  background-image: linear-gradient(#B8D4CA, #F3DCC3, #dbb67b);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #573c20;
}

.Palette {
  height: 60%;
  width: 60%;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

/* .Pokemons {
  display: flex;
  gap: 32px;
  border-radius: 50px;
  padding: 30px;
  background: #F9ECCE;
  box-shadow: 20px 20px 60px #20242a, -20px -20px 60px #30343e;
}

.Pokemon {
  height: calc(10px + 10vmin);
} */